.app-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-around;
    border: 1px black solid;
    align-items: center;
}